[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.2.13"
django-static-precompiler = "*"
django-dotenv = "*"
dj-database-url = "*"
django-extensions = "*"
psycopg2-binary = "*"

[dev-packages]

[pipenv]
allow_prereleases = true
